---
version: '3'
services:
  psql:
    image: jutonz/homepage-dev-psql:7
    volumes:
    - "../../:/tmp/code"
    - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: homepage_prod
  redis:
    image: jutonz/homepage-dev-redis:1
  app:
    image: jutonz/homepage-dev-app:31
    environment:
    - SECRET_KEY_BASE="9Z4EOxi6xe+P7ci7gSQn/Lqt4QIXinGJu+CW4YI0lQYaBzFfJsvLvMDm2B38ETM+"
    - DB_HOST=psql
    - DB_USER=docker
    - DB_PASS=docker
    - DB_PORT=5432
    - DB_POOL_SIZE=10
    - TWITCH_CLIENT_ID=ja9ef15nl8k4wrvne24e9q1zzqnl7b
    - TWITCH_CLIENT_SECRET=74qhweeq4jec8offmcwrody5raibm6
    - TWITCH_REDIRECT_URI=http://localhost:4001/twitch/oauth
    - CI
    volumes:
    - "../../:/app"
    ports:
    - 4000:4000
    depends_on:
    - psql
    - redis
    links:
    - psql
    - redis
    working_dir: "/app"
volumes:
  pgdata: 
  ci_code: 
