@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./modal";

body {
  background-color: black;
  color: white;
}

body * {
  visibility: initial;
}

input, textarea {
  @apply text-black p-1 pl-2 pr-2;
}

button, .button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded inline-block;
  &:hover { @apply bg-blue-700; }

  &--danger {
    @apply bg-red-500;
    &:hover { @apply bg-red-700; }
  }

  &--small {
    @apply py-1 px-2;
    @apply text-sm;
  }

  &--secondary {
    @apply bg-zinc-500;
    &:hover { @apply bg-zinc-700; }
  }
}

[phx-click] {
  cursor: pointer;
}
