@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./twitch/chat";
@import "./modal";

body {
  background-color: black;
  color: white;
}

body * {
  visibility: initial;
}

input {
  @apply text-black p-1 pl-2 pr-2;
}

button, .button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded inline-block;

  &:hover {
    @apply bg-blue-700;
  }
}

[phx-click] {
  cursor: pointer;
}
