@import "../css/index.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "./modal";

body * {
  visibility: initial;
}

input, textarea {
  @apply text-black p-1 pl-2 pr-2;
}

button, .button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded inline-block;
  &:hover { @apply bg-blue-700; }

  &--danger {
    @apply bg-red-500;
    &:hover { @apply bg-red-700; }
  }

  &--small {
    @apply py-1 px-2;
    @apply text-sm;
  }

  &--secondary {
    @apply bg-zinc-500;
    &:hover { @apply bg-zinc-700; }
  }

  &--inline {
    @apply bg-transparent hover:bg-transparent p-0;
    color: var(--brand-primary);
    &:hover { filter: brightness(85%) }
  }
}

[phx-click] {
  cursor: pointer;
}
