<div class="m-4">
  <div class="text-xl mb-5">Edit order ingredient</div>
  {render(
    "_form.html",
    changeset: @changeset,
    submit_path:
      Routes.soap_order_ingredient_path(
        @conn,
        :update,
        Ecto.Changeset.get_field(@changeset, :order_id),
        Ecto.Changeset.get_field(@changeset, :id)
      ),
    action: "Update"
  )}
</div>
