<div class="m-4">
  <div class="text-xl mb-5">New order ingredient</div>
  {render(
    "_form.html",
    changeset: @changeset,
    submit_path:
      Routes.soap_order_ingredient_path(
        @conn,
        :create,
        @order_id
      ),
    action: "Create"
  )}
</div>
