.chat {
  &__container {
    border: 1px solid white;
    width: 500px;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    border-bottom: 1px solid white;
    justify-content: space-between;
  }

  &__scroll-pane {
    padding: 20px;
    overflow-x: scroll;
    height: 700px;
  }

  &__scroll-pane__messages {
    display: flex;
    flex-direction: column-reverse;
  }

  &__messages__message {
    margin-top: 10px;
  }
}
