.DS_Store
.cache
apps/client/cover

# App artifacts
/_build
/db
/tmp
/.mix
/.npm
/*.ez
*.beam
.hex
/deps/
/cover
apps/client/assets/cypress/downloads
apps/client/assets/cypress/screenshots
apps/client/assets/cypress/videos
esbuild-meta.json
apps/client/assets/test-results/
apps/client/assets/playwright-report/
apps/client/assets/blob-report/
apps/client/assets/playwright/.cache/

# yarn
apps/client/assets/.yarn/*
!apps/client/assets/.yarn/patches
!apps/client/assets/.yarn/plugins
!apps/client/assets/.yarn/releases
!apps/client/assets/.yarn/sdks
!apps/client/assets/.yarn/versions

# Generated on crash by the VM
erl_crash.dump

.bash_history
.byebug_history
.vim
.viminfo
yarn-error.log

docker/ci/keys

# Igore things for encrypted secrets
apps/twitch/config/master.key
apps/twitch/config/.env
key.txt
secrets.txt
config/dev.secret.exs

# Ignore dialyzer PLT files
_plts/
