.DS_Store
.cache
apps/client/cover

# App artifacts
/_build
/db
/tmp
/.mix
/.npm
/*.ez
*.beam
.hex
/deps/
/cover

# Generated on crash by the VM
erl_crash.dump

.bash_history
.byebug_history
.vim
.viminfo
yarn-error.log

docker/ci/keys

# Igore things for encrypted secrets
apps/twitch/config/master.key
apps/twitch/config/.env
key.txt
secrets.txt

# Ignore dialyzer PLT files
_plts/
