<div class="m-4">
  <div class="text-xl mb-5">Edit batch ingredient</div>
  <%= render(
    "_form.html",
    changeset: @changeset,
    submit_path:
      Routes.soap_batch_ingredient_path(
        @conn,
        :update,
        Ecto.Changeset.get_field(@changeset, :batch_id),
        Ecto.Changeset.get_field(@changeset, :id)
      ),
    action: "Update"
  ) %>
</div>
