<%= form_for(
  @changeset,
  Routes.settings_api_token_path(ClientWeb.Endpoint, @action),
  [class: "flex flex-col"],
fn form -> %>
  <div class="flex flex-1 flex-col">
    {label(form, :description, "Description")}
    {text_input(form, :description, class: "mt-2", autofocus: true)}
    <div class="text-red-600 mt-1">
      {error_tag(form, :description)}
    </div>
  </div>

  {submit(
    @action |> to_string |> String.capitalize(),
    class: "w-32 mt-4"
  )}
<% end) %>
