# Elixir CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-elixir/ for more details
version: 2
jobs:
  build_test:
    working_directory: ~/code
    docker:
    - image: circleci/elixir:1.9
    environment:
    - MIX_ENV: test
    steps:
    - checkout
    - restore_cache:
        key: v4-test-{{ checksum "mix.lock" }}
        paths:
        - _build/test
        - deps
    - run:
        name: Setup hex
        command: |
          mix local.hex --force
          mix local.rebar --force
    - run:
        name: Install deps
        command: |
          mix deps.get
    - run:
        name: Install deps
        command: |
          mix compile --warnings-as-errors
    - save_cache:
        key: v4-test-{{ checksum "mix.lock" }}
        paths:
        - _build/test
        - deps
  build_dev:
    working_directory: ~/code
    docker:
    - image: circleci/elixir:1.9
    steps:
    - checkout
    - restore_cache:
        key: v5-dev-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths:
        - apps/client/assets/node_modules
        - _build/dev
        - deps
    - restore_cache:
        key: v1-plts-{{ checksum ".tool-versions" }}
        path: _plts
    - run:
        name: Setup hex
        command: |
          mix local.hex --force
          mix local.rebar --force
    - run:
        name: Install deps
        command: |
          mix deps.get
    - run:
        name: Compile
        command: |
          mix compile --warnings-as-errors
    - run:
        name: Build PLT's
        command: |
          mix do dialyzer_pre, dialyzer.build
    - save_cache:
        key: v5-dev-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths:
        - apps/client/assets/node_modules
        - _build/dev
        - deps
    - save_cache:
        key: v1-plts-{{ checksum ".tool-versions" }}
        paths:
        - _plts

  yarn_install:
    working_directory: ~/code
    docker:
    - image: circleci/node:10
    steps:
    - checkout
    - restore_cache:
        key: v5-dev-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths:
        - apps/client/assets/node_modules
        - deps
        - _build/dev
    - run:
        name: yarn install
        command: |
          cd apps/client/assets
          yarn install
    - save_cache:
        key: v5-dev-w-node-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths:
        - apps/client/assets/node_modules
        - deps
        - _build/dev
  mix_test:
    working_directory: ~/code
    docker:
    - image: circleci/elixir:1.9-node-browsers
    - image: circleci/postgres:10-alpine
      environment:
      - POSTGRES_USER: postgres
      - POSTGRES_DB: homepage_test
      - POSTGRES_PASSWORD:
    - image: circleci/redis
    environment:
    - MIX_ENV=test
    steps:
    - checkout
    - restore_cache:
        keys:
        - v4-test-{{ checksum "mix.lock" }}
        - v5-dev-{{ checksum "mix.lock" }}
        paths:
        - _build/dev
        - _build/test
        - deps
    - restore_cache:
        key: v1-prod-static-assets-{{ .Revision }}
        path: apps/client/priv/static/js
    - restore_cache:
        key: v1-plts-{{ checksum ".tool-versions" }}
        path: _plts
    - run:
        name: Write twitch secret master key to file
        command: |
          echo -n $TWITCH_SECRET_MASTER_KEY > apps/twitch/config/master.key
    - run:
        name: Setup hex
        command: |
          mix local.hex --force
          mix local.rebar --force
    - run: mix deps.get
    - run:
        name: Create DB
        command: mix do ecto.create, ecto.migrate
    - run:
        name: mix dialyzer
        command: mix dialyzer
    - run:
        name: mix test
        command: mix test
    - store_artifacts:
        path: /tmp/homepage-screenshots
        destination: acceptance-screenshots
  yarn_lint:
    working_directory: ~/code
    docker:
    - image: circleci/node:10
    steps:
    - checkout
    - restore_cache:
        key: v5-dev-w-node-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths: ["apps/client/assets/node_modules"]
    - run:
        name: yarn lint
        command: |
          cd apps/client/assets
          ls -alh node_modules
          yarn lint
  mix_format:
    working_directory: ~/code
    docker:
    - image: circleci/elixir:1.9
    steps:
    - checkout
    - run: mix format --check-formatted

  build_prod:
    working_directory: ~/code
    docker:
    - image: circleci/elixir:1.9
    environment:
    - MIX_ENV: prod
    steps:
    - checkout
    - restore_cache:
        key: v1-prod-{{ checksum "mix.lock" }}
        paths:
        - _build/prod
        - deps
    - run:
        name: Setup hex
        command: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get
          mix compile --warnings-as-errors
    - save_cache:
        key: v1-prod-{{ checksum "mix.lock" }}
        paths:
        - _build/prod
        - deps
  yarn_bundle_static:
    working_directory: ~/code
    docker:
    - image: circleci/node:10
    steps:
    - checkout
    - restore_cache:
        key: v5-dev-w-node-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths: ["apps/client/assets/node_modules"]
    - run:
        name: yarn bundle:static
        command: |
          cd apps/client/assets
          yarn bundle:static
    - save_cache:
        key: v1-prod-static-assets-{{ .Revision }}
        paths:
        - apps/client/priv/static/js
  yarn_bundle_react:
    working_directory: ~/code
    docker:
    - image: circleci/node:10
    steps:
    - checkout
    - restore_cache:
        key: v5-dev-w-node-{{ checksum "mix.lock" }}-{{ checksum "apps/client/assets/yarn.lock" }}
        paths: ["apps/client/assets/node_modules"]
    - run:
        name: yarn bundle:react
        command: |
          cd apps/client/assets
          yarn bundle:react

workflows:
  version: 2
  workflow:
    jobs:
    - build_test
    - build_dev
    - build_prod

    - yarn_install:
        requires: ["build_dev"]
    - mix_format:
        requires: ["build_dev"]
    - yarn_lint:
        requires: ["yarn_install"]
    - yarn_bundle_react:
        requires: ["yarn_install"]
    - yarn_bundle_static:
        requires: ["yarn_install"]
    - mix_test:
        requires: ["build_test", "yarn_bundle_static"]
