<div class="m-4">
  <div class="mb-2 text-xl">Edit Water Filter</div>

  <%= render(
    "form.html",
    changeset: @changeset,
    action: :update,
    submit_path:
      Routes.water_log_filters_path(
        ClientWeb.Endpoint,
        :update,
        Ecto.Changeset.get_field(@changeset, :water_log_id),
        @id
      )
  ) %>
</div>
