<div class="m-4">
  <div class="mb-2 text-xl">New Water Filter</div>

  {render(
    "form.html",
    changeset: @changeset,
    action: :create,
    submit_path: Routes.water_log_filters_path(ClientWeb.Endpoint, :create, @log_id)
  )}
</div>
