version: "2"
services:
  nginx:
    depends_on:
      - app
    image: jutonz/homepage-prod-nginx:4
    links:
      - app
    ports:
      - "4000:80"
  app:
    image: jutonz/homepage-prod-app:36
    depends_on:
      - psql
    links:
      - psql
    environment:
      DATABASE_URL: postgres://homepage:homepage@psql:5432/homepage_prod
      PGHOST: psql
      PGUSER: homepage
      PGPASS: homepage
      PORT: "4000"
  redis:
    image: jutonz/homepage-prod-redis:1
  psql:
    image: jutonz/homepage-prod-psql:9
    environment:
      POSTGRES_USER: homepage
      POSTGRES_PASSWORD: homepage
      POSTGRES_DB: homepage_prod
      AWS_ACCESS_KEY_ID: "${HOMEPAGE_AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${HOMEPAGE_AWS_SECRET_ACCESS_KEY}"
