<.simple_form :let={f} for={@changeset} action={@submit_path}>
  <.input field={f[:name]} label="Name" data-role="soap-order-name-input" />
  <.input
    field={f[:shipping_cost]}
    label="Shipping cost"
    data-role="soap-order-shipping-cost-input"
  />
  <.input field={f[:tax]} label="Tax" data-role="soap-order-tax-input" />

  <:actions>
    <button class="button" data-role="soap-order-submit">
      <%= @action %>
    </button>
  </:actions>
</.simple_form>
