<div class="m-4">
  <ClientWeb.Components.Breadcrumbs.breadcrumbs>
    <:crumb href={~p"/soap"} title="Soap" />
    <:crumb href={~p"/soap/orders"} title="Orders" />
    <:crumb href={~p"/soap/orders/#{@order.id}"} title={@order.name} />
    <div>Edit</div>
  </ClientWeb.Components.Breadcrumbs.breadcrumbs>

  <%= render(
    "_form.html",
    changeset: @changeset,
    submit_path: ~p"/soap/orders/#{@order.id}",
    action: "Update"
  ) %>
</div>
