<div class="m-4">
  <ClientWeb.Components.Breadcrumbs.breadcrumbs>
    <:crumb href={~p"/soap"} title="Soap" />
    <:crumb href={~p"/soap/orders"} title="Orders" />
    <div>New order</div>
  </ClientWeb.Components.Breadcrumbs.breadcrumbs>

  {render(
    "_form.html",
    changeset: @changeset,
    submit_path: ~p"/soap/orders",
    action: "Create"
  )}
</div>
