<div class="m-4">
  <div class="text-xl mb-5"><%= gettext("New order!") %></div>
  <%= render(
    "_form.html",
    changeset: @changeset,
    submit_path: Routes.soap_order_path(@conn, :create),
    action: "Create"
  ) %>
</div>
