/* This file is for your main application css. */

$background-color: black !default;
$brand-primary: #AC17C6; // rgb(172, 23, 198)
$border-color: #ccc;

$font-color: #ccc !default;
$font-color--active: #AC17C6 !default;
$font-color--hover: #B63FCB !default;

html, body {
  background: $background-color;
  color: $font-color;
  font-family: sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: $font-color;
  text-decoration: none;

  &:hover {
    color: $font-color--hover;
  }

  &:active {
    color: $font-color--active;
  }
}

#gl-canvas {
  width: 100%;
  height: 100%;
  margin-top: -20px;
}


.alert {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: fixed;
  width: 100%;
}

@import 'login';
