<div class="border">
  <div class="p-3 flex flex-col" id="chat" phx-update="append">
    <%= for event <- @events do %>
      <p id={event.id}>
        <%= event.display_name %>: <%= event.message %>
      </p>
    <% end %>
  </div>
</div>
