<div class="channel m-4 flex flex-col justify-center">
  <div>{@name} isn't live right now.</div>

  {live_render(
    @conn,
    ClientWeb.Twitch.ChatView,
    session: %{"channel_name" => @name}
  )}
</div>
