<div class="m-4">
  <ClientWeb.Components.Breadcrumbs.breadcrumbs>
    <:crumb title="Repeatable lists" href={~p"/repeatable-lists/templates"} />
    <span>New list template</span>
  </ClientWeb.Components.Breadcrumbs.breadcrumbs>

  {live_render(
    @conn,
    ClientWeb.Live.RepeatableLists.FormComponent,
    id: "list-template-form",
    session: %{
      "action" => "Create",
      "user_id" => Client.Session.current_user_id(@conn)
    }
  )}
</div>
