<%= form_for(
  @changeset,
  @submit_path,
fn form -> %>
  <div class="flex flex-1 flex-col mb-6">
    <%= label(form, :name, "Name") %>
    <%= text_input(
      form,
      :name,
      class: "mt-2",
      autofocus: true,
      data: [role: "soap-recipe-name-input"]
    ) %>
    <div class="text-red-600 mt-1">
      <%= error_tag(form, :name) %>
    </div>
  </div>

  <%= submit(@action, data: [role: "soap-recipe-submit"]) %>
<% end) %>
