<div class="m-4">
  <div class="text-xl mb-5">New recipe</div>
  <%= render(
    "_form.html",
    changeset: @changeset,
    submit_path: soap_recipe_path(@conn, :create),
    action: "Create"
  ) %>
</div>
