<div class="m-5">
  <div class="text-xl mb-5" data-role="soap-recipe-name">
    <%= @recipe.name %>
  </div>

  <%= link(
    "Edit",
    to: soap_recipe_path(@conn, :edit, @recipe.id),
    class: "button"
  ) %>

  <%= link(
    "Delete",
    to: soap_recipe_path(@conn, :delete, @recipe.id),
    class: "button",
    method: :delete,
    data: [confirm: "Are you sure", role: "soap-recipe-delete"]
  ) %>
</div>
