<div class="m-4">
  <div class="mb-2 text-xl">New Train Log</div>

  {render(
    "form.html",
    changeset: @changeset,
    action: :create,
    submit_path: Routes.train_log_path(ClientWeb.Endpoint, :create)
  )}
</div>
