:root {
  --background-color: black;
  --brand-primary: #AC17C6; /* rgb(172, 23, 198) */
  --border-color: #ccc;
  --font-color: white;
  --font-color--active: #AC17C6;
  --font-color--hover: #B63FCB;
}

html, body {
  background: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--font-color--hover);
}

a:active {
  color: var(--font-color--active);
}

#gl-canvas {
  width: 100%;
  height: 100%;
  margin-top: -20px;
}
