<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Home" suffix=" · Homepage">
      {assigns[:title]}
    </.live_title>
    <link
      rel="stylesheet"
      phx-track-static
      href={Routes.static_path(ClientWeb.Endpoint, "/static-css/index.css")}
    />
    <script
      defer
      phx-track-static
      src={Routes.static_path(ClientWeb.Endpoint, "/static-js/index.js")}
    >
    </script>
  </head>
  <body>
    <div class="container font-sans">
      <p class="alert alert-info" role="alert" data-role="flash-info">
        {Phoenix.Flash.get(@flash, :info)}
      </p>
      <p class="alert alert-danger" role="alert" data-role="flash-error">
        {Phoenix.Flash.get(@flash, :error)}
      </p>

      <main role="main">
        {@inner_content}
      </main>
    </div>
  </body>
</html>
