<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%= assigns[:title] || "jutonz.com" %></title>

    <link rel="stylesheet" phx-track-static href={Routes.static_path(ClientWeb.Endpoint, "/static-css/index.css")} />
  </head>

  <body onclick="">
    <div class="container font-sans">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>

      <main role="main">
        <%= @inner_content %>
      </main>
    </div>

    <%= csrf_meta_tag() %>
    <script phx-track-static src={Routes.static_path(ClientWeb.Endpoint, "/static-js/index.js")}>
    </script>
  </body>
</html>
