<.simple_form :let={f} for={@changeset} action={@submit_path}>
  <.input field={f[:name]} label="Name" data-role="soap-batch-name-input" />
  <.input
    field={f[:amount_produced]}
    label="Amount produced (optional)"
    data-role="soap-batch-amount-produced-input"
  />
  <:actions>
    <button class="button" data-role="soap-batch-submit">
      {@action}
    </button>
  </:actions>
</.simple_form>
