<div class="m-4">
  <ClientWeb.Components.Breadcrumbs.breadcrumbs>
    <:crumb href={~p"/soap"} title="Soap" />
    <:crumb href={~p"/soap/batches"} title="Batches" />
    <:crumb href={~p"/soap/batches/#{@batch.id}"} title={@batch.name} />
    <div>Edit</div>
  </ClientWeb.Components.Breadcrumbs.breadcrumbs>

  {render(
    "_form.html",
    changeset: @changeset,
    submit_path: ~p"/soap/batches/#{@batch.id}",
    action: "Update"
  )}
</div>
