<div class="m-4">
  <div class="text-xl mb-5">Edit context</div>
  {render(
    "_form.html",
    changeset: @changeset,
    submit_path:
      Routes.storage_context_path(@conn, :update, Ecto.Changeset.get_field(@changeset, :id)),
    action: "Update"
  )}
</div>
